<header class="sub-header">
        <h2>Another Section</h2>
        <ul class"navigation sub-navigation">
          <li class="navigation-item">{{#link-to "another-section.part-1"}}Part 1{{/link-to}}</li>
          <li class="navigation-item">{{#link-to "another-section.part-2"}}Part 2{{/link-to}}</li>
          <li class="navigation-item">{{#link-to "another-section.part-3"}}Part 3{{/link-to}}</li>
        </ul>
     </header>

     <div class="main-content">
     {{outlet}}
    </div>